@import "tailwindcss";
@plugin "daisyui";



@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD');

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-variation-settings: 
    'FILL' 0, 
    'wght' 400, 
    'GRAD' 0, 
    'opsz' 24;
}

